body {
    background-color: rgb(36, 36, 36);
}

h1 {
    color: white;
    font-family: Arial, sans-serif;
}

button {
    border: 1px solid white;
    background-color: rgb(60, 60, 60);
    color: white;
    margin-bottom: 8px;
}

.console {
    font-family: monospace;
    background-color: rgb(48, 48, 48);
    color: rgb(0, 255, 0);
}

#codeInput {
    height: 300px;
    width: 400px;
}

